@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9FC131, #DBF227);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #728a2283;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #00474093;
}

h2 {
    color: #9FC131;
}

p {
    text-align: justify;
}